div{
    border:2px solid;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:20px;
    padding-right:40px;
    padding-bottom:30px;
    vertical-align: middle;

    height: 100px;
    width: 100%;

    background-color: #FFFACD;
    border-color: blue;
}

.adattadx{
    float:right;
    padding-right:30px;
    width:500px;
    height:90px;
    vertical-align: middle;
}

.adattasx{
    float:left;
    padding-left:0px;
    padding-right:40px;
    width:300px;
    height:90px;
    vertical-align: middle;
}
